<ng-container *ngIf="((list$ | async) || list) as asyncList">
  <app-list-name [list]="list"></app-list-name>
  <mat-list>
    <mat-list-item fxLayout="column" fxFlexFill>
      <app-item-create [list]="list" [listId]="asyncList.id" fxFlexFill></app-item-create>
    </mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of items$ | async">
      <mat-list-item>
        <app-item [item]="item"></app-item>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
    <ng-container *ngFor="let item of list?.items">
      <mat-list-item>
        <app-item [item]="item"></app-item>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</ng-container>
