<mat-card-header>
  <mat-card-title>To-Do List Manager</mat-card-title>
  <mat-card-subtitle>Project One</mat-card-subtitle>
</mat-card-header>
<mat-card-content>
  <p>This is a MVP of a "to-do list" application. If you don't have yet an account, please sign-up. <br/>
    The lists you create will only be visible by you. You can add as many lists and items as you want, and delete items
    once done if needed.
  </p>
</mat-card-content>
<mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly center">
  <button mat-button [routerLink]="['/login']">Log in</button>
  <button mat-button [routerLink]="['/sign-up']">Sign up</button>
</mat-card-actions>
