<mat-toolbar>
  <span>Registration</span>
</mat-toolbar>
<form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
  <mat-card-content>
    <mat-form-field fxFlexFill>
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="First name" required>
    </mat-form-field>
    <mat-form-field fxFlexFill>
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last Name" required>
    </mat-form-field>
    <mat-form-field fxFlexFill>
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput placeholder="Email">
      <mat-error *ngIf="signUpForm.get('email').hasError('emailExists')">
        <strong>Email already exists...</strong>
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email').hasError('email') && !signUpForm.get('email').hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="signUpForm.get('email').hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlexFill>
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput minlength="4" placeholder="Password" type="password">
      <mat-error *ngIf="signUpForm.get('password').hasError('minlength')">
        Password is too short
      </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="agreement">
      I agree to the Terms of Use
    </mat-checkbox>

  </mat-card-content>
  <mat-card-actions>
    <a (click)="prefill()" color="accent" mat-button>PRE-FILL</a>
    <button [disabled]="!signUpForm.valid || (selectSignUpIsLoading$ | async)" color="primary"
            mat-raised-button
            type="submit">REGISTER
    </button>
    <mat-error *ngIf="signUpError$ | async as error">{{error}}</mat-error>
  </mat-card-actions>
</form>
