<form [formGroup]="listForm" (ngSubmit)="onSubmit()" [class.mat-display-1]="mode === creationMode.COMPLETE" fxFlexFill>
  <mat-form-field [formGroup]="listForm" fxFlexFill>
    <input matInput placeholder="Name of the list" formControlName="name" autocomplete="off" #name>
    <mat-error *ngIf="listForm.get('name').hasError('required')">Un nom est requis...</mat-error>
    <mat-error *ngIf="listForm.get('name').hasError('listExists')">Ce nom existe déjà, appuyez sur Échap pour
      annuler ou saississez un nom différent...
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="mode === creationMode.FAST">
    <button mat-raised-button type="submit" [disabled]="!listForm.valid || (isLoading$ | async)" color="primary">
      CREATE
    </button>
    <a mat-button color="accent" (click)="goToAdvancedMode()">ADVANCED
      CREATION</a>
  </ng-container>

  <div *ngIf="mode === creationMode.COMPLETE" fxLayout="column" fxFlexFill>

    <div fxLayout="row" fxFlexFill>

      <app-list-display [list]="creationList" fxFlexFill></app-list-display>
    </div>

    <button class="mt-4" mat-raised-button type="submit" [disabled]="!listForm.valid || (isLoading$ | async)"
            color="primary">
      CREATE LIST AND ITEMS
    </button>
  </div>
</form>

