<div fxLayoutAlign="none stretch">
  <form [formGroup]="listForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name of the list</mat-label>
      <input matInput placeholder="Name of the list" formControlName="name" required>
    </mat-form-field>

    <ng-container *ngIf="mode === creationMode.FAST">
      <button mat-raised-button type="submit" [disabled]="!listForm.valid || (isLoading$ | async)" color="primary">
        CREATE
      </button>
      <a mat-button color="accent" [routerLink]="['../list/create']">ADVANCED CREATION</a>
    </ng-container>

    <ng-container *ngIf="mode === creationMode.COMPLETE">

      <app-list-display [list]="creationList"></app-list-display>

      <button mat-raised-button type="submit" [disabled]="!listForm.valid || (isLoading$ | async)" color="primary">
        CREATE LIST AND ITEMS
      </button>
    </ng-container>

  </form>
</div>

