.dashboard-toolbar {
  //position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.background {
  background-image: url("../assets/landing-backgrounds/green-chameleon-s9CC2SKySJM-unsplash.jpg");
  background-size: cover;
}
