<div fxLayout="column" fxFlexFill>
  <mat-toolbar *ngIf="isAuthenticated$ | async"
               fxLayoutAlign="space-between center">

    <button mat-icon-button [routerLink]="['dashboard']">
      <mat-icon>home</mat-icon>
    </button>

    <div>
      <button mat-button [routerLink]="['edit-user']">
        Edit my profile
      </button>
      <button mat-button class="e2e-log-out" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <div fxFlex class="background">
    <router-outlet></router-outlet>
  </div>
</div>
