<h1>To-Do Lists</h1>
<mat-list>
  <mat-list-item>
    <app-list-create [mode]="creationMode.FAST"></app-list-create>
    <mat-progress-spinner diameter="16" mode="indeterminate"
                          *ngIf="(isLoading$ | async) === true"></mat-progress-spinner>
  </mat-list-item>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let list of (lists$ | async)">
    <mat-list-item>
      <app-list-overview [list]="list" [nbItems]="(selectAllItemsCountsByList$ | async)[list.id]"></app-list-overview>
    </mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>
