<mat-toolbar>
  <span>List Info</span>
</mat-toolbar>

<ng-container *ngIf="list$ | async as list">
Name of the list :
(edit name of the list) :

Items :
<ng-container *ngIf="items$ | async as items">

  <ul>
    <li *ngFor="let item of items">
      <mat-checkbox [checked]="item.stroke" (change)="toggleItemStroke(item)">
        <span [class.stroke]="item.stroke">{{item | json}}</span>
      </mat-checkbox>
    </li>
  </ul>

</ng-container>


<app-todo-list-create [listId]="(list$ | async).id"></app-todo-list-create>
</ng-container>
